UrunKatalogServis/WebClient/Service References/ServiceProduct/ProductsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2002/ProductsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DMODTO" />
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DMODTO" minOccurs="0" name="GetProductsResult" nillable="true" type="q1:ArrayOfProductsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsBySupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsBySupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DMODTO" minOccurs="0" name="GetProductsBySupplierResult" nillable="true" type="q2:ArrayOfProductsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="suppid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DMODTO" minOccurs="0" name="GetOneProductResult" nillable="true" type="q3:ProductsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DMODTO" minOccurs="0" name="Pdto" nillable="true" type="q4:ProductsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DMODTO" minOccurs="0" name="LoginResult" nillable="true" type="q5:UsersDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>