UrunKatalogServis/WebClient/Service References/ServiceProduct/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2002/ProductsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2002/ProductsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2002/ProductsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DMODTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductsBySupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsBySupplier" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductsBySupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsBySupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetOneProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetOneProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductUpdate" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IProductService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProducts" message="tns:IProductService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductsResponse" message="tns:IProductService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsBySupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProductsBySupplier" message="tns:IProductService_GetProductsBySupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductsBySupplierResponse" message="tns:IProductService_GetProductsBySupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetOneProduct" message="tns:IProductService_GetOneProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetOneProductResponse" message="tns:IProductService_GetOneProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/ProductUpdate" message="tns:IProductService_ProductUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/ProductUpdateResponse" message="tns:IProductService_ProductUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/Login" message="tns:IProductService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/LoginResponse" message="tns:IProductService_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsBySupplier">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProductsBySupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetOneProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductUpdate">
      <soap:operation soapAction="http://tempuri.org/IProductService/ProductUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IProductService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:2002/ProductsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>