UrunKatalogServis/WebClient/Service References/ServiceProduct/ProductsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DMODTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DMODTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductsDTO" nillable="true" type="tns:ProductsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductsDTO" nillable="true" type="tns:ArrayOfProductsDTO" />
  <xs:complexType name="ProductsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="TedarikciID" type="xs:int" />
      <xs:element minOccurs="0" name="UrunAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunFiyat" type="xs:decimal" />
      <xs:element minOccurs="0" name="UrunID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductsDTO" nillable="true" type="tns:ProductsDTO" />
  <xs:complexType name="UsersDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersDTO" nillable="true" type="tns:UsersDTO" />
</xs:schema>